body{
    background-color: gray;

}
main{
       display: flex;

}
nav{
    border-right: 1px solid black;
    height: 60%;
    width: 40%;
}
ul{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}
li{
    padding: 1rem;
}

img{
    
    height: 5cm;
    width: 5cm;
    padding: 1cm;
    margin: 1rem;
}
p{
    width: 100px;
    font-size: medium;
}
#price{
    font-size: large;
    font-weight: bolder;
}
.home,#backHome{
    position: absolute;
    right: 1%;
}
#singleProd{
    margin: auto;
    width: 100%;
    padding: 10px;
    
}
.description,h2{
    text-align: justify;
    width: fit-content;
}
#button{
    position: absolute;
    right: 45%;
    top: 20%;
    background-color: rgb(22, 21, 21);
    font-size: x-large;
    color: wheat
}
#button:hover{
    color: red;
}
.priceTitle{
     position: absolute;
    right: 45%;
    top: 20%;
}
